body{
    background-color: rgb(120, 200, 229);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    border: 2px solid #000000;
    border-radius: 15px; 
    padding: 20px;
    display: inline-block;
    text-align: left;
}

.city {
    font-size: 18px;
}

input[type="text"], input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #000a92;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
